<header class="navbar">
    <div class="logo"> 🅿️ <strong><span class="easy">EASY</span> <span class="park">PARK</span></strong></div>

    <nav class="nav-buttons">
        <a class="nav-link" [routerLink]="'/admin/home'">Inicio</a>
        <a class="nav-link" [routerLink]="'/features'">Características</a>
        <a class="nav-link" [routerLink]="'/plans'">Planes</a>
        <a class="nav-link" [routerLink]="'/contact'">Contacto</a>
    </nav>

    <div class="auth-buttons">
        <div *ngIf="adminEmail; else guestButtons">
            <span style="color: white;">Bienvenido, {{ adminEmail }}</span>
            <a class="btn blue" [routerLink]="'/admin/profile'">Mi Perfil</a>
        </div>

        <ng-template #guestButtons>
            <button class="btn yellow" routerLink="/admin/login">Iniciar sesión</button>
        </ng-template>
    </div>
</header>