/* Barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: rgba(0, 0, 0, 0.9);
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: yellow;
}

.easy {
    color: yellow;
    font-weight: bold;
}

.park {
    color: white;
    font-weight: bold;
}


.navbar nav {
    display: flex;
    gap: 20px;
}

.navbar nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.auth-buttons .btn {
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

.btn.yellow {
    background-color: yellow;
    color: black;
}

.btn.white {
    background-color: white;
    color: black;
}

/* Sección principal */
.hero {
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    padding: 60px;
    background: rgba(0, 0, 0, 0.6); /* Oscurece la imagen */
    min-height: 100vh; /* Ocupa toda la altura de la pantalla */
    position: relative;
}

.hero-content {
    max-width: 600px; /* Ajusta el ancho del contenido */
}

.hero-content p {
    max-width: 600px; /* Limita el ancho del párrafo */
    text-align: left;  
    margin: 0; 
}

/* Estilo del título */
.highlight {
    color: yellow;           
    font-size: 40px;         
    font-weight: bold;       
    display: inline-block;
    white-space: nowrap;
}

.btn.blue {
    background-color: rgba(255, 255, 96, 0.862); /* Cambia este color al que prefieras */
    color: #000;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn.red:hover {
    background-color: #f69e06; /* Color al pasar el cursor */
}

.auth-buttons div {
    display: flex;
    align-items: center;
    gap: 15px; /* Espacio entre el correo y el botón */
}
  
  .nav-buttons a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.3s ease;
}

.nav-buttons a:hover {
    color: yellow; /* Color al pasar el cursor */
}