<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EASY PARK</title>
</head>
<body>
    <div class="home">
        <header class="navbar">
            <div class="logo"> 🅿️ <strong><span class="easy">EASY</span> <span class="park">PARK</span></strong></div>
            
            <nav>
                <a href="#">Inicio</a>
                <a href="#">Características</a>
                <a href="#">Planes</a>
                <a href="#">Contacto</a>
            </nav>

            <div class="auth-buttons">
                <!-- Si el usuario está autenticado -->
                <div *ngIf="userEmail; else guestButtons">
                    <span>Bienvenido, {{ userEmail }}</span>
                    <button class="btn blue" (click)="goToProfile()">Mi Perfil</button>
                </div>

                <!-- Plantilla para usuarios no autenticados -->
                <ng-template #guestButtons>
                    <button class="btn yellow" routerLink="/login">Iniciar sesión</button>
                    <button class="btn white" routerLink="/register">Registro</button>
                </ng-template>
            </div>
        </header>

        <section class="hero">
            <div class="hero-content">
                <h2>Bienvenidos a <span class="easy">EASY</span> <span class="park">PARK</span></h2>
                <p>
                    EasyPark es la forma más fácil de encontrar y gestionar tu estacionamiento.
                    Reserva tu espacio en segundos a través de nuestra plataforma, disfruta de pagos sin contacto y
                    accede a ubicaciones seguras y convenientes.
                    Olvídate del estrés de buscar parqueo y ahorra tiempo con EasyPark.
                    ¡Tu parqueadero, a un clic de distancia!
                </p>

                <div class="location">
                    <div class="location-text">
                        <span>📍 <strong>Ubicación</strong></span>
                        <p>Neiva - Huila</p>
                    </div>
                    <button class="btn-search">Buscar parqueo</button>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
