<app-header-general></app-header-general>
<div class="container">
    <h2>Recuperar Contraseña</h2>
    <form (ngSubmit)="recuperarContrasenia()">
      <div class="mb-3">
        <label for="email" class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required />
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  
    <div *ngIf="mensaje" class="alert alert-info mt-3">{{ mensaje }}</div>
    <div *ngIf="error" class="alert alert-danger mt-3">{{ error }}</div>
</div>
  